{% extends 'base.html' %}
{% block content %}

{% include 'category_nav.html' %}
<article>
  <div class="center">
    <h1>{{object.name}}</h1>
    <p><strong>Description: </strong>{{object.description}}</p>
    <p><strong>Materials: </strong>{{object.materials}}</p>
    <p><strong>Price: </strong>{{object.price}}</p>
    <p><strong>Finish: </strong>{{object.finish}}</p>
    <p><strong>Dimensions: </strong>{{object.dimensions}}</p>
    <p><strong>Categories: </strong>
    {% for cat in object.categories.all %}
      <p>{{cat}}</p>
    {% endfor %}
    </p>
    <a href="{% url 'item_update' object.id %}">Edit</a>
    <a href="{% url 'item_delete' object.id %}">Delete</a>
  </div>
</article>
{% endblock %}