{% extends 'base.html' %}
{% block content %}

{% include 'category_nav.html' %}
<article>
  <h1>{{object.name}}</h1>
  <div class='two-cols'>
    <div class='col-one'>
      {% for photo in object.photo_set.all %}
        <img src="{{photo.url}}" class='item-detail-photo' />
      {% empty %}
        <p>No photo uploaded</p>
      {% endfor %}
    </div>
    <div class='col-two'>
      <p><strong>Description: </strong>{{object.description}}</p>
      <p><strong>Materials: </strong>{{object.materials}}</p>
      <p><strong>Price: </strong>{{object.price}}</p>
      <p><strong>Finish: </strong>{{object.finish}}</p>
      <p><strong>Dimensions: </strong>{{object.dimensions}}</p>
      <p><strong>Categories: </strong>
      {% for cat in object.categories.all %}
        <p>{{cat}}</p>
      {% endfor %}
      </p>
    </div>
  </div>
</article>
{% endblock %}