<div class='item-card'>
  <div class='item-photo'>
    <a href='{% url "item_detail" item.id %}'>
    {% comment %} <img src='https://picsum.photos/200' /> {% endcomment %}
    {% for photo in item.photo_set.all %}
      <img src="{{photo.url}}" />
    {% empty %}
      <p>No photo uploaded</p>
    {% endfor %}
    </a>
  </div>
  <div class='item-info'>
    <a href='{% url "item_detail" item.id %}'>
      <span class='name'>{{item.name}}</span>
    </a>
    <span>${{item.price}}</span>
    <span>{{item.description}}</span>
  </div>
</div>