@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  /* background-color: #333; */
  color: #333;
  text-align: center;
  background: #f3f3f3;

  --dark-blue: #A2D2FF;
  --light-blue: #bde0fe;
  --light-yellow: #fff1d6;
  --dark-pink: #ffafcc;
  --light-pink: #FFC8DD;

   /* background: linear-gradient(20deg, #333, #555) */
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
nav {
  display: flex;
  font-size: 2rem;
  margin: 0;
  background: var(--dark-blue);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul.right {
  margin-left: auto;
}

nav ul > li {
  padding: 1.5rem 2rem;
}

nav ul > li:hover {
  background: var(--light-blue);
}

main { 
  flex: 1;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside {
  padding: 4rem 2rem 0 2rem;
  margin: 0 4rem 0 0;
  flex: 1;
}
aside h2 {
  margin: 1rem 0 0 0;
}
aside ul {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  text-align: left;
  display: inline-block;
}

aside li > a {
  font-size: 1.8rem;
}

article {
  padding: 2rem 0 0 0;
  flex: 8;
}
h1, h2, h3, h4 {
  margin: 1rem 0;
}
h1 {
  font-size: 3rem;
}

article p {
  text-align: left;
}

article div.center {
  display: inline-block;
  margin: 0 auto;
  width: max-content;
}

article div.two-cols {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 0 auto;
}

article div.two-cols > div {
  padding: 2rem;
}

article div.col-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

article div.col-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  padding: 1rem;
  font-size: 1.2rem;
  background: var(--dark-blue);
}

.fieldWrapper {
  text-align: right;
  margin: 0 0 1rem 0;
}

.cardwrap {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  margin: 0 0 2rem 2rem;
  width: 400px;
  height: 200px;
  display: flex;
  border-radius: 1rem;
  /* background: var(--light-pink); */
}

.item-card .name {
  font-size: 2.6rem;
}

.item-photo img{
  width: 200px;
}
.item-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.item-info span {
  margin: 0 0 1rem 0;
}

.li-spacer { 
  text-align: center;
}

.delete-btn {
  display: inline-block;
  padding: 1rem;
  border: solid 1px #ccc;
  border-radius: 0.5rem;
  margin: 1rem 0;
  color: rgb(163, 24, 24);
  background: #fff;
}

.item-detail-photo {
  max-width: 400px;
}